<nav class="navbar navbar-dark bg-inverse shadow">
  <a class="navbar-brand" [routerLink]="['']">
    <img src="/images/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
    Sydli
  </a>
  <ul class="nav navbar-nav" *ngIf="loggedin">
    <li class="nav-item dropdown float-xs-right" (click)="toggle(dropdownMenu)" (mouseleave)="close(dropdownMenu)" #dropdownMenu>
      <a class="nav-link dropdown-toggle" id="supportedContentDropdown" aria-haspopup="true" aria-expanded="false">{{ userName | slice:0:15 }}</a>
      <div class="dropdown-menu dropdown-menu-right shift-menu-up" aria-labelledby="supportedContentDropdown">
        <a class="dropdown-item" [routerLink]="['userprofile']">Profile</a>
        <a class="dropdown-item" [routerLink]="['orders']">My Orders</a>
        <a class="dropdown-item" (click)="signout()">Logout</a>
      </div>
    </li>
  </ul>
  <a class="btn-outline-dark float-xs-right ripple" (click)="showLogin()" *ngIf="!(loggedin)">Log In</a>
</nav>
