<div class="col-lg-12">
  <div class="list-group card" [hidden]="shoppingList.length==0">
    <a class="list-group-item shopping-list-item">
      <button class="btn-solid-accent ripple float-xs-right" (click)="checkout()">CHECK OUT...</button>
    </a>
    <a class="list-group-item shopping-list-item" *ngFor="let item of shoppingList">
      <a class="btn btn-danger btn-delete" (click)="removeItem(item)">X</a>
      <div class="shopping-list-item-info">
        <h5>{{item.medecineName}}</h5>
        <small>price: {{item.medecinePrice}}LE</small>
      </div>
      <form class="form-inline shopping-list-edit-form">
        <a class="btn-solid-accent" (click)="decrement(item)" [ngClass]="{'disabled':item.medecineQty==0?true:false}">-</a>
        <input type="text" class="form-control=" name="qty" id="qty" placeholder="2" [(ngModel)]="item.medecineQty">
        <a class="btn-solid-accent" (click)="increment(item)">+</a>
      </form>
      <div class="shopping-list-item-total">
        <h5>{{item.medecinePrice | multiply:item.medecineQty | number:'1.2-2'}} LE</h5>
      </div>
    </a>
  </div>
</div>
