<div class="col-lg-6">
  <ul class="list-group user-profile">
    <li class="list-group-item active"><i class="material-icons">info</i>&nbsp;&nbsp;Basic Information</li>
    <li class="list-group-item"><i class="material-icons">account_circle</i>&nbsp;<b>User Name&nbsp;&nbsp;</b>{{ userInfo?.displayName }}</li>
    <li class="list-group-item"><i class="material-icons">email</i>&nbsp;<b>E-Mail&nbsp;&nbsp;</b> {{ userInfo?.email }}</li>
  </ul>
</div>
<div class='clearfix'></div>
<div class="container">
  <div class="row clearfix">
    <div class="col-lg-6">
      <ul class="list-group user-profile">
        <li class="list-group-item active"><i class="material-icons">local_post_office</i>&nbsp;&nbsp;Addresses</li>
        <li class="list-group-item adress-list" *ngFor="let address of addresses; let i=index">
          <h5><i class="material-icons">done</i>{{ address.name }}</h5>
          <h6>{{ address | formatAddress }}</h6>
        </li>
        <li class="list-group-item" *ngIf="isAddress">
          <p>No Saved Adresses. Please use the form to add new address</p>
        </li>
      </ul>
    </div>
    <div class="clear-fix"></div>
    <div class="col-lg-6">
      <ul class="list-group user-profile">
        <li class="list-group-item active"><i class="material-icons"><i class="material-icons">fiber_new</i></i>&nbsp;&nbsp;New Address</li>
        <li class="list-group-item add-new-address">
          <form #f="ngForm">
            <input type="text" class="form-control" id="name" placeholder="Enter address name" ngModel name="name" required>
            <input type="text" class="form-control" id="apartment" placeholder="Apartment number" ngModel name="apartment" required>
            <input type="text" class="form-control" id="building" placeholder="Building number" ngModel name="building" required>
            <input type="text" class="form-control" id="street" placeholder="Street name" ngModel name="street" required>
            <input type="text" class="form-control" id="area" placeholder="Area" ngModel name="area" required>
            <input type="text" class="form-control" id="city" placeholder="City" ngModel name="city" required>
            <button class="btn-solid-accent ripple" (click)="saveAddress(f)" [disabled]="f.invalid">Save</button>
          </form>
        </li>
      </ul>
    </div>
  </div>
</div>
